#app-header {
    font-size: calc(1.625rem + 2.5vw);
}
#app-intro-header {
  font-size: 0.96rem;
}
@media (min-width: 576px) {
    #app-header {
        font-size: calc(1.625rem + 3.5vw);
    }
    #app-intro-header {
    font-size: 1.65rem;
  }
}
@media (min-width: 992px) {
  #app-intro-header {
    font-size: 2rem;
  }
}
